

.proteina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}



@media screen and (max-width: 760px){

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}